* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: gold;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: gold;
    padding: 8px 16px;
    margin-left: 20px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-content {
    text-align: center;
    max-width: 1200px;
    color: gold;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 18px;
    max-width: 700px;
}

.main-content button {
    margin-top: 24px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 6px;
    background: goldenrod;
    color: aliceblue;
    cursor: pointer;
}

.pic-content {
    position: relative;
    width: 450px;
    height: 450px;
}

img {
    position: absolute;
    max-width: 750px;
    top: -180px;
}